<h2 class="small-margin">Registration</h2>
<p class="small-bottom-margin">Please fill in the form to register an account!</p>
<form method="post" action="/register/"
  <label for="username">Username:</label><br>
  <input type="text" name="username" value=""><br><br>
  <label for="password1">Password:</label><br>
  <input type="password" name="password1" value=""><br><br>
  <label for="password1">Confirm password:</label><br>
  <input type="password" name="password2" value=""><br><br>
  <input type="submit" value="Submit">
</form>