<div class="center"><h2>HTML Forms</h2></div>
<form  class="center" method="post" action="/register/newuser"
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username" value=""><br>
  <label for="password">Password:</label><br>
  <input type="text" id="password" name="password" value=""><br><br>
  <input type="submit" value="Submit">
</form>