<div class="center-text"><h2 class="no-margin">Registration</h2>
<p>Please fill in the form to register an account!</p>
<form method="post" action="/register/newuser"
  <label for="username">Username:</label><br>
  <input type="text" name="username" value=""><br><br>
  <label for="password1">Password:</label><br>
  <input type="password" name="password1" value=""><br>
  <label for="password1">Retype password:</label><br>
  <input type="password" name="password2" value=""><br><br>
  <input type="submit" value="Submit">
</form>
</div>