<header>
    <ul class="nav-ul">
  <li class="nav-li"><a href="#home">Home</a></li>
  <li class="nav-li"><a href="#code">Code</a></li>
  <li class="nav-li"><a href="#login">login</a></li>
</ul>
</header>