<header>
    <ul class="nav-ul">
  <li class="nav-li"><a href="/">Home</a></li>
  <li class="nav-li"><a href="/snippets/">Snippets</a></li>
  {{#if expreq.length }}
  <li class="nav-li"><a href="/logout/">Logout</a></li>
  <li class="nav-li logged-in">Welcome: {{expreq}}</li>
  </ul>
  {{else}}
  <li class="nav-li"><a href="/login/">Login</a></li>
  <li class="nav-li"><a href="/register/">Register</a></li>
</ul>
{{/if}}
</header>