<header>
    <ul class="nav-ul">
  <li class="nav-li"><a href="/">Home</a></li>
  <li class="nav-li"><a href="/snippets/">Snippets</a></li>
  <li class="nav-li"><a href="/login/">Login</a></li>
  <li class="nav-li"><a href="/register/">Register</a></li>
</ul>
</header>