<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Code-Snippets</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <ul class="nav-ul">
      <li class="nav-li"><a href="/">Home</a></li>
      <li class="nav-li"><a href="/snippets/">Snippets</a></li>
      <li class="nav-li"><a href="/login/">Login</a></li>
      <li class="nav-li"><a href="/register/">Register</a></li>
    </ul>
    </header>    <div id="container" class="center-text">
        <div class="alert alert-warning center-text">
            <h1>404 Not Found</h1>
    <p>Sorry, but the page you were trying to view does not exist.</p>
</div>
    </div>
    <footer>
      <p>Contact information: <a href="mailto:fn222ep@student.lnu.se">fn222ep@student.lnu.se</a>.</p>
    </footer></body>
</html>