<h1 class="small-margin">Code snippets</h1>
<div id="menu">
    <ul class="nav-ul">
  <li class="nav-li"><a href="/snippets/">All</a></li>
  <li class="nav-li"><a href="/snippets/new">New</a></li>
</div>