<h2 class="small-margin">Login</h2>
<p class="small-bottom-margin">Please fill in the form to login!</p>
<div class="input-bg">
<form method="post" action="/login/">
  <label for="username">Username:</label><br>
  <input type="text" name="username" placeholder="Enter username..." value=""><br><br>
  <label for="password1">Password:</label><br>
  <input type="password" name="password" placeholder="Enter password..." value=""><br><br>
  <input class="button" type="submit" value="Submit">
</form>
</div>